.dash-main {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 100%;
}

.activity-feed {
  margin: 100px 0 0 360px;
  width: 66vw;
}

.activity-feed li {
  margin-top: 20px;
}
