.dash-main {
  display: flex;
  justify-content: space-between;
  width: 600px
}


.activity-feed {
  margin-top: 60px
}

.activity-feed li{
  margin-top: 20px;
}

.activity-feed-item {
  height: 400px;
  width: 600px;
  background: white;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
  padding: 10px;
  margin-right: 500px;

}

.activity-feed-item .profile-pic {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.activity-feed-item ul {
  display: flex;
}
