.dash-main {
  /* display: flex; */
}

.prof-cont {
  display: flex;
  margin-top: 50px;
  width: 100px;
}

.fixed-prof {
}

.prof-box {
  width: 300px;
  height: 325px;
  background: white;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.16);
  margin: 100px 100px;
  display: flex;
  flex-direction: column;
  position: sticky;
  margin-top: 160px;
  top: 120px;
}
.top-prof {
  /* display: flex; */
}
.top-prof .line-1 {
  width: 90px;
  height: 90px;
}

.top-prof .line-1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 100px;
  display: block;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.16);
  cursor: pointer;
}

.top-prof .line-2 {
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 35px;
  margin: 12px auto;
  cursor: pointer;
}

.line-2 div {
  margin: auto;
}

.line-3 {
  margin: 0 30px;
}
.line-3 ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.line-3-row a {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.line-3-row a div {
  font-weight: 400;
  margin: auto;
  cursor: pointer;
}

.line-3-row a .num {
  font-size: 26px;
  cursor: pointer;
}

.prof-links-cont {
}

.prof-links-cont a {
  text-decoration: none;
  color: black;
  display: flex;
  margin: auto;
}
.prof-links-cont a b {
  font-weight: 400;
  margin: 12px auto;
}
.prof-links-cont a i {
  margin-top: 10px;
}

.last-act-info i {
}

.last-act-cont {
  font-size: 14px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 80%;
  margin: auto;
  padding: 5px;
}
.last-act-cont a {
  justify-content: space-between;
}

.last-act-info {
  display: flex;
  margin: auto;
}

.last-act-info .arrow {
  display: flex;
}

.last-act-name {
  font-weight: bold;
}

.last-act-date {
  font-size: 14px;
  color: lightgrey;
}
.last-act-cont a div {
  width: 100%;
  margin: auto;
}
